<body class="fangshan">
  <h3 class="gx">恭喜！</h3>
  <p class="info2">提交联系方式后，到安利房山店青春房山用户专享通道领取奖品</p>
  <%= form_for(@changzou) do |f| %>
    <%= f.hidden_field :finger %>
    <p>
      <%= f.text_field :name,  :placeholder => "如何称呼" %>
    </p>
    <p>
      <%= f.text_field :mobile, :placeholder => "手机号码" %>
    </p>
    <%= f.submit "提交", :class => "submit" %>
  <% end %>
  <p class="address">
    <span style="float:left;">地址：房山区拱辰街道西北关8号良乡西北关综合楼1层</span>
  </p>
  <p class="phone">
    <span style="margin-top:30pt;">联系电话：</span><span>85008346</span>
  </p>
  <script type="text/javascript">
    $(function() {
      $('#changzou_finger').val(window.finger);
    })
  </script>
   
</body>
