<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @changzou.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @changzou.mobile %>
</p>

<%= link_to 'Edit', edit_changzou_path(@changzou) %> |
<%= link_to 'Back', changzous_path %>
